<h1>Welcome! <%= current_user.username %></h1>

<h2>Events Created by You</h2>

<div>
  <ul>
    <% @user.events.each do |event| %>
      <li><%= event.title %>
      <p><%= event.location %></p>
      <% end %>
  </ul>
</div>

<div>
  <h2>Attended Events</h2>
  <% @user.attended_events.each do |attended_event| %>
    <% if attended_event.date > Time.now %>
      <h4>Future Events:</h4>
      <ul>
        <li><%= link_to  attended_event.title, event_path(attended_event) %></li>
        <p><%= attended_event.location %></li>
      </ul>

    <% else %>
      <h4>Past Events:</h4>
     <ul>
        <li><%= link_to  attended_event.title, event_path(attended_event) %></li>
        <p><%= attended_event.location %></li>
     </ul>
   <% end %>
 <% end %>
    
