<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="logo">
          <h1><%= link_to "Private Event", root_path %></h1>
          </div>

        <div class="nav">
            <nav>
              <% if user_signed_in? %>
                <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %> 
                <%= link_to "New Event", new_event_path %> 
                <%= link_to "Dashboard", user_path(current_user) %>
                <%= link_to "Account", edit_user_registration_path(current_user) %>
              <% else %>
                <%= link_to "Sign In", new_user_session_path %>
              <% end %>
            </nav>
        </div>
      </div>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
